:root {
  --color: rgb(124, 124, 184);
}
* {
  box-sizing: border-box;
}

header {
  margin: 10px;
  background-color: dodgerblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
nav {
  display: flex;
}

nav a {
  text-decoration: none;
  padding: 20px;
}

#profilepic {
  border-radius: 50%;
}
#AboutMe {
  display: flex;
  flex-wrap: wrap;
}
aside {
  display: flex;
  justify-content: center;
  flex: 30%;
  align-items: center;
  color: rgb(59, 59, 185);
}
#AboutMe p {
  flex: 70%;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 50px;
  border-left: solid var(--color);
}
#Work {
  display: flex;
  flex-wrap: wrap;
}
#projects {
  flex: 70%;
  padding-left: 50px;
  border-left: solid var(--color);
}
.card {
  border-style: solid;
  border-width: 3px;
  width: 100%;
  border-color: darkslateblue;
  position: relative;
}
.card img {
  width: 100%;
}
.title {
  border-style: solid;
  border-width: 2px;
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--color);
  position: absolute;
  top: 50%;
  left: 0;
  border-color: var(--color);
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.cardone {
  border-style: solid;
  border-width: 3px;
  width: 49.6%;
  border-color: darkslateblue;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.cardone img {
  width: 100%;
}

#contactinfo {
  display: flex;
  flex-wrap: wrap;
}
#contactinfo section {
  flex: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-decoration: underline;
  color: cornflowerblue;
  margin-top: 10px;
  padding-left: 50px;
  border-left: solid rgb(124, 124, 184);
}

footer a {
  color: cornflowerblue;
}

@media screen and (max-width: 576px) {
  .cards {
    flex-direction: column;
  }
  .cardone {
    width: 100%;
  }

  .card {
    width: 100%;
  }
  #contactinfo section {
    flex-direction: column;
    align-items: center;
  }
  .title {
    width: fit-content;
  }
  nav {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  nav a h3 {
    margin: 0;
  }
  nav a {
    padding: 0;
  }
}
@media screen and(max-width: 768px) {
  nav {
    width: 100%;
    justify-content: flex-end;
  }
  .title {
    width: fit-content;
  }
}
