*{
    box-sizing: border-box;
}

header{
margin:10px;
background-color: dodgerblue;
display:flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
padding: 10px;
}
nav{
  display: flex;
  
}

nav a{
    text-decoration: none; 
padding: 20px;
}


#profilepic{
    border-radius: 50%;
}
#AboutMe {
    display: flex;
    flex-wrap: wrap;
}
aside{
    display: flex;
    justify-content: center;
    flex:30%;
    align-items: center;
    color: rgb(59, 59, 185);
}
#AboutMe p{
    flex:70%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    border-left: solid rgb(124, 124, 184);

}
#Work{
    display: flex;
    flex-wrap: wrap;
}
#projects {
   flex:70%;
   padding-left: 50px;
   border-left: solid rgb(124, 124, 184);
  }
  .card{
    border-style: solid;
    border-width: 3px;
    width: 100%;
    border-color: darkslateblue;
    position: relative;
    
  
  }
  .card img {
    width: 100%;
  }
  .title{
    border-style: solid;
    border-width: 2px;
    width: 20%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: darkslateblue;
    position: absolute;
    top:50%;
    left: 0;
    border-color: darkslateblue;

  }
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

  .cardone {
    border-style: solid;
    border-width: 3px;
    width: 49.6%;
    border-color: darkslateblue;
    position: relative;

  }
 
  .cardone img {
    width: 100%;
  }
 
 
#contactinfo{
    display:flex;
    flex-wrap: wrap;
   
    
}
#contactinfo section{
    flex:70%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    text-decoration: underline;
    color: cornflowerblue;
    margin-top: 10px;
    padding-left: 50px;
    border-left: solid rgb(124, 124, 184);
  }

footer a{
    color: cornflowerblue;
}