/*variable stores the color for work background*/
:root {
  --color: rgb(124, 124, 184);
}
* {
  box-sizing: border-box;
}
/*Sets header background and make it flexible*/
header {
  margin: 10px;
  background-color: dodgerblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
nav {
  display: flex;
}

nav a {
  text-decoration: none;
  padding: 20px;
}
/*Transforming the image*/
#profilepic {
  border-radius: 50%;
}
#AboutMe {
  display: flex;
  flex-wrap: wrap;
}
/* Sets the sidebar width to 30% of body width and makes flexable*/
aside {
  display: flex;
  justify-content: center;
  flex: 30%;
  align-items: center;
  color: rgb(59, 59, 185);
}
/* Sets the AboutMe section  width to 70% of body width */

#AboutMe p {
  flex: 70%;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 50px;
  border-left: solid var(--color);
}
#Work {
  display: flex;
  flex-wrap: wrap;
}

/* Sets the projects section  width to 70% of body width */
#projects {
  flex: 70%;
  padding-left: 50px;
  border-left: solid var(--color);
}
/*Create a plceholder to store image*/
.card {
  border-style: solid;
  border-width: 3px;
  width: 100%;
  border-color: darkslateblue;
  position: relative;
}
.card img {
  width: 100%;
}

/*Create a placeholder to display the name of the project*/
.title {
  border-style: solid;
  border-width: 2px;
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--color);
  position: absolute;
  top: 50%;
  left: 0;
  border-color: var(--color);
}
/*Create a placeholder to store images*/

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
/*Create a placeholder to store image having half of the parent width*/

.cardone {
  border-style: solid;
  border-width: 3px;
  width: 49.6%;
  border-color: darkslateblue;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
/*sets the image width to 100%of the parent*/
.cardone img {
  width: 100%;
}

#contactinfo {
  display: flex;
  flex-wrap: wrap;
}
/* Sets the contactMe  width to 70% of body width */

#contactinfo section {
  flex: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-decoration: underline;
  color: cornflowerblue;
  margin-top: 10px;
  padding-left: 50px;
  border-left: solid rgb(124, 124, 184);
}
/*sets footer background color*/
footer a {
  color: cornflowerblue;
}

/*Media query makes screen responsive for iphone*/
@media screen and (max-width: 576px) {
  .cards {
    flex-direction: column;
  }
  .cardone {
    width: 100%;
  }

  .card {
    width: 100%;
  }
  #contactinfo section {
    flex-direction: column;
    align-items: center;
  }
  .title {
    width: fit-content;
  }
  nav {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  nav a h3 {
    margin: 0;
  }
  nav a {
    padding: 0;
  }
}
/*Media query makes screen responsive for tab*/
@media screen and(max-width: 768px) {
  nav {
    width: 100%;
    justify-content: flex-end;
  }
  .title {
    width: fit-content;
  }
}
